{% extends "base.html" %}
{% load static %}

{% block title %}Crear Pedido - SOS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/order_new.css' %}">
{% endblock %}

{% block content %}

<h1 class="titulo">+ Nuevo Pedido Manual</h1>

<form id="orderForm" class="card card-body shadow-sm formulario">

  <div class="mb-3">
    <label class="form-label fw-semibold">ID Cliente</label>
    <input class="form-control" name="customer" placeholder="Ej: 1" required>
  </div>

  <div class="mb-3">
    <label class="form-label fw-semibold">Producto</label>
    <input class="form-control" name="product_name" placeholder="Ceviche Clásico" required>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label fw-semibold">Cantidad</label>
      <input type="number" class="form-control" name="qty" value="1" min="1" required>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label fw-semibold">Precio Unitario</label>
      <input type="number" class="form-control" name="unit_price" value="6500" min="0" required>
    </div>
  </div>

  <button class="btn btn-primary w-100 mt-3">Crear Pedido</button>
  <div id="msg" class="mt-3"></div>

</form>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/order_new.js' %}" defer></script>
{% endblock %}
