{% extends "base.html" %}
{% load static %}

{% block title %}Pago fallido - SOS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pago_fallido.css' %}">
{% endblock %}

{% block content %}

<div class="fail-wrapper">
  <div class="fail-card shadow-sm">

    <h1>❌ Pago rechazado</h1>

    <p class="msg">
      Tu pago no pudo ser procesado correctamente.
    </p>

    <p class="msg">
      Por favor intenta nuevamente o selecciona otro método de pago.
    </p>

    <a href="/checkout/" class="btn-volver">Volver al carrito</a>

  </div>
</div>

{% endblock %}
